<h1>Studio</h1>
<div id="studio">
    
</div>

<ul id="messages">
    
</ul>

<script type="text/javascript">
    $(function () {
        var studio = $.connection.studioHub;
        $.connection.hub.logging = true;
        $.connection.hub.start().done(function() {
            studio.server.connected("Studio");
        });

        $(window).bind("beforeunload", function() {
            studio.server.disconnected("Studio");
        });
        
        studio.client.connected = function (clientName) {
            $('#messages').append('<li> ' + clientName + ' logget på </li>');
        };
        studio.client.disconnected = function (clientName) {
            $('#messages').append('<li>' + clientName + ' logget av </li>');
        };
        
        studio.client.broadcastMessage = function (message) {
            $('#studio').text(message);
        };
    });
</script>

