@using studiomsg.web.Controllers
@model StudioMessage
@{
    var availableTypes = new SelectList(Model.AvailableTypes, "Value", "Name");
}

<div class="container">
    <p class="lead">Produsent</p>
    <div class="hero-unit">
        @Html.TextAreaFor(m => m.Message, new { placeholder = "Melding til studio..", rows = 10 })
        @Html.DropDownListFor(m => m.ValuedOfSelectedMessageType, availableTypes)
        <button id="broadcast" class="btn">Send til studio</button>
    </div>

    <hr>

    <div class="row-fluid">     
        <div class="span6">
            <h4>Logg</h4>
            <ul id="messages">
            </ul>
        </div>
    </div>
</div>



<script type="text/javascript">
    $(function () {
        // Proxy created on the fly          
        var studio = $.connection.studioHub;

        studio.client.broadcastMessage = function (message) {
            $('#messages').append('<li>' + message + '</li>');
        };

        studio.client.connected = function (clientName) {
            $('#messages').append('<li> ' + clientName + ' logget på </li>');
        };
        studio.client.disconnected = function (clientName) {
            $('#messages').append('<li>' + clientName + ' logget av </li>');
        };

        $(window).bind("beforeunload", function () {
            studio.server.disconnected("Produsent");
        });

        // Start the connection
        $.connection.hub.start().done(function () {
            studio.server.connected("Produsent");
            $("#broadcast").click(function () {
                // Call the chat method on the server
                var msg = $('#Message').val();
                var type = $('#ValuedOfSelectedMessageType option:selected').text();
                studio.server.send(msg, type);
            });
        });
    });
</script>
